
$yellowtail: "Yellowtail", cursive;

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: #FC8D93;
}

h1 {
	
	font-family: $yellowtail;
	color: white;
	font-size: 1500%;
	
}

#Gulp-Logo {
	fill: white;
}

#gulp-banner {
	
	position: absolute;
	margin: auto;
	
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	
	width: 650px;
	height: 450px;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	background: #E63C44;
	
	text-decoration: none;
	border: 0;
	
	
}

#yeah {
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	
}

#gulp-banner:hover * {
	color: #E63C44;
	fill: #E63C44;
}

#gulp-banner:hover {
	background: white;
}
